*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: hsl(189, 41%, 84%);
    height: 100vh;
    width: 100vw;
}

.container{
    background-color: hsl(189, 41%, 84%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.top-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-container{
    flex: 2.8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttom-container-application{
    width: 54%;
    height: 60%;
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
}

.buttom-container-application-wrap{
    padding: 20px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.buttom-container-application-warp-left{
    flex: 1;
    margin: 10px;
    height: 100%;
}

.buttom-container-application-wrap-right{
    flex: 1;
    margin: 10px;
}

.buttom-container-application-warp-left-code{
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bill-wrap{
    flex: 1;
}

.bill-wrap-place{
    width: 100%;
    height: 30px;
    display: flex;
    background-color: hsl(189, 41%, 97%);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.bill-wrap-place-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space{
    flex: 1;
}

.bill-wrap-h3{
    color: hsl(186, 14%, 43%);
    font-weight: 400;
    font-size: 12px;
}

.bills-input{
    width: 40%;
    outline: none;
    border: none;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

.bill-wrap-place-img-src{
    height: 15px;
    width: 10px;
}

.select-tip-wrap{
    flex: 2.5;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.select-tip-wrap-h3{
    color: hsl(186, 14%, 43%);
    font-weight: 400;
    font-size: 12px;
}

.percentage-tip{
    width: 30%;
    height: 80%;
    background-color: aquamarine;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: white;
}

.percentage-tip-custom-input{
    width: 80%;
    color: hsl(186, 14%, 43%);
    background-color: hsl(189, 41%, 97%);
    border: none;
    outline: none;
}

.select-tip-wrap-top{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
    justify-content: space-between;
}

.select-tip-wrap-buttom{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
    justify-content: space-between;
}

.number-of-people{
    flex: 1;
}

#percentage-tip-15{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

#percentage-tip-custom{
    color: hsl(186, 14%, 43%);
    background-color: hsl(189, 41%, 97%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-of-people-h3{
    color: hsl(186, 14%, 43%);
    font-weight: 400;
    font-size: 12px;
}

.number-of-people-place{
    width: 100%;
    height: 30px;
    display: flex;
    background-color: hsl(189, 41%, 97%);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.number-of-people-input{
    width: 40%;
    outline: none;
    border: none;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}

.buttom-container-application-wrap-right{
    height: 100%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.5rem;
}

.buttom-container-application-wrap-right-code{
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-code-dispaly{
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-code-reset{
    height: 20%;
}

.right-code-dispaly-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.right-code-dispaly-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.right-code-dispaly-number{
    font-weight: 400;
    font-size: 35px;
    color: hsl(172, 67%, 45%);
}

.right-code-dispaly-text-amount{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    color: white;
}

span{
    font-size: 10px;
    color: hsl(186, 14%, 43%);
}

.right-code-reset{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-code-reset-button{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    width: 60%;
    height: 90%;
    outline: none;
    border: none;
    border-radius: 0.5rem;
}

button{
    cursor: pointer;
}

.right-code-dispaly-number-other{
    font-weight: 400;
    font-size: 35px;
    color: hsl(172, 67%, 45%);
}

.look{
    display: none;
}

@media only screen and (max-width: 1080px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        display: none;
    }
    
    :root {
        --s-loader-wrapper-bg-color: rgb(21, 22, 43);
        --s-loader-width: 40px;
        --s-loader-height: var(--s-loader-width);
        --s-loader-border-color-trans: rgba(140, 197, 233, 0.2);
        --s-loader-border-color-full: rgb(29, 161, 242);
      }
      
      body {
        margin: 0;
        background: hsl(189, 41%, 84%);
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: hsl(183, 100%, 15%);
      }
      
      .spinning-loader {
        width: var(--s-loader-width);
        height: var(--s-loader-height);
        border: 5px solid hsl(186, 14%, 43%);
        border-left-color: hsl(183, 100%, 15%);
        border-radius: 50%;
        background: transparent;
        animation-name: rotate-s-loader;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: linear;
        position: relative;
      }
      
      .look{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: hsl(183, 100%, 15%);
          font-weight: 200;
          line-height: 30px;
      }
      
      @keyframes rotate-s-loader {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
      

  }
